<footer id="footer" role="contentinfo">
				<div>
					<div >
												  <ul id="menu-footer-menu" class="footer-menu"><li id="menu-item-282" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-282"><a href="https://www.facebook.com/fuelthemes">Facebook</a></li>
<li id="menu-item-283" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-283"><a href="#">Twitter</a></li>
<li id="menu-item-284" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-284"><a href="#">Instagram</a></li>
<li id="menu-item-285" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-285"><a href="#">Pinterest</a></li>
</ul>												<p>© 2015 ANIMUS YOU. All Rights Reserved. </p>
						<div class="social-links">
																	<figure class="paymenttypes visa"></figure>
				<figure class="paymenttypes mc"></figure>
				<figure class="paymenttypes paypal"></figure>
						<figure class="paymenttypes stripe"></figure>
																	</div>
					</div>
				</div>
			</footer>
