<div id="navbar">
  <ul>
        <li><a href="">HOME</a></li>
        <li><a href="">HOT ITEMS</a></li>
        <li><a href="">BLOG</a></li>
        <li><a href="">ABOUT US</a></li>

  </ul>

  <div>
    <p id="logo">CHANGE IT!</p>
    <p>Exchange It | <a href="#" style="color:#ea4c89">Rent It</a> | <a style="color:#2aa9e0" href="#">Own It</a></p>
  </div>

  <ul class="right">
    <li><%= link_to "LOGIN", '#' %></li>
    <li><%= link_to "CART", '#' %></li>
  </ul>

</div>
